.schedule {
    &__wrapper {
        border-bottom: 1px solid #e8e8e8;
        padding: 60px;
    }

    &__title {
        text-align: center;
        font-size: 42px;
    }

    &__content {}

    &__date {
        font-family: 'Manrope';
        font-size: 14px;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        span {
            display: block;
            flex-grow: 1;
            white-space: nowrap;
        }
        &_line {
            margin-left: 10px;
            width: 100%;
            height: 1px;
            background-color: #e8e8e8;
            display: block;
        }
    }

    &__timing {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__time {
        text-align: right;
        font-weight: 500;
        font-size: 16px;
    }

    &__desc {}

    &__desc_title {
        margin-bottom: 14px;
    }

    &__desc_link {
        display: inline-block;
        margin-bottom: 14px;
        color: rgba(178,164,106,1);
        text-decoration: none;
        &:hover {
            color: #3A3C3E;
        }
    }

    &__desc_info {}

    &__map {
        min-height: 200px;
        filter: grayscale(1);
    }
}