/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/open-sans-v29-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../public/fonts/open-sans-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../public/fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../public/fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../public/fonts/open-sans-v29-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../public/fonts/open-sans-v29-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'Destinia';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/denistina.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../public/fonts/denistina.ttf') format('embedded-opentype'), /* IE6-IE8 */
         url('../public/fonts/denistina.ttf') format('woff2'), /* Super Modern Browsers */
         url('../public/fonts/denistina.ttf') format('woff'), /* Modern Browsers */
         url('../public/fonts/denistina.ttf') format('svg'); /* Legacy iOS */
  }

/* manrope-regular - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/manrope-v12-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/manrope-v12-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/manrope-v12-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/manrope-v12-cyrillic-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-500 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/manrope-v12-cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/manrope-v12-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/manrope-v12-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/manrope-v12-cyrillic-500.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-600 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/manrope-v12-cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/manrope-v12-cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/manrope-v12-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/manrope-v12-cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/manrope-v12-cyrillic-600.svg#Manrope') format('svg'); /* Legacy iOS */
}