.moreInformation {
    &__wrapper {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px;
        @media (min-width: 768px) {
            padding: 60px;
        }
    }

    &__title {
        text-align: center;
        font-size: 42px;
    }

    &__text {
        margin-bottom: 40px;
        font-weight: 500;
    }
}