.slider__wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @media (min-width: 1440px) {
        left: 0;
        top: 0;
        bottom: 0;
        position: sticky;
        width: 61%;
    }
}